.background-image img{
     position:absolute;
     height: auto;
     width: 100%;
     margin: 0;
     z-index: -1;
     object-fit: none;
     object-position: 20% 120%;
 }
 .business h1{
      text-align: center;
      color: #FCF7F4;
      font-size: 75px;
  }
  
  .logo img{
      display: block;
      margin: 0px auto;
      padding-top: 250px;
      padding-bottom: 25px;
}

.btn{
    display: block;
    margin: 175px auto;
    width: 200px;
    padding: 10px;
    background-color: #3A3A3A;
    color:#FCF7F4;
    text-align: center;
    text-decoration: none;
    font-family: serif;
    box-shadow: 5px 5px 8px black;

}
.rectangle{
    width: 100%;
    background: #902222;
    margin-top: -50px;
    margin-left: -8px;
    position: fixed;
    opacity: .9;
}

ul{
    list-style-type: none;
    width: 736px;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    top: 25px;
    z-index: 1;
}

li{
    width: 120px;
    margin: 0px 30px;
    border-radius: 5px;
    float: left;
    padding-top: 10px;
}

a{
    display: block;
    width: 120px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    background-color: #3A3A3A;
    color:#FCF7F4;
    font-family: serif;
    box-shadow: 5px 5px 15px black;
}
.about{
background-color: #FCF7F4;
display:flex;
justify-content: center;
align-items: center;
margin-bottom: -40px;
}
about-us{
    display: none;
}

.about .page2-content{
color: #902222;
padding-left: 50px;
padding-right: 50px;
}

.feature{
background-color: #902222;
width: 100%;
}

.block{
    background-color: #FCF7F4;
}
.page3 h1{
    color: #FCF7F4;
    text-align: center;
    padding-top:6%;
    font-size: 40px;
}

.images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image1{
    padding: 0 150px 10px;
}
.images img{
    border: 10px solid #902222;
    background-color: #FCF7F4;
    padding: 20px 20px 20px 20px;
    margin-top: -100px;
}
.news{
background-color: #902222;
margin-top: -40px;
width: 100%;
}

.extra{
width: 100%;
background-color: #902222;
}


.shop{
    display: block;
    margin: 175px auto;
    width: 200px;
    padding: 10px;
    background-color: #3A3A3A;
    color:#FCF7F4;
    text-align: center;
    text-decoration: none;
    font-family: serif;
    box-shadow: 5px 5px 8px black;
    margin-top: 60px;
}

.chess{
    background-image: url(Images/chesspieces.png);
    background-size: cover;
    background-repeat: none;
    margin-top: 350px;
    height: 150px;
}

.chesspieces{
    background-image: url(Images/Capture.PNG);
    background-size: cover;
    background-repeat: none;
    height: 150px;
}
.more{
    display: block;
    margin: 175px auto;
    width: 200px;
    padding: 10px;
    background-color: #3A3A3A;
    color:#FCF7F4;
    text-align: center;
    text-decoration: none;
    font-family: serif;
    box-shadow: 5px 5px 8px black;
    margin-top: 60px;
    position: relative;
}
.page4 h1{
    color: #FCF7F4;
    text-align: center;
    padding-top:6%;
    font-size: 40px;
    position: relative;
}
#calender{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75px;
    width:40%;
    position: relative;
}

#wrapper{
   overflow: auto;
}

.pattern{
    position: absolute;
}
 
.pattern img{
    width: 2450px;
    object-fit: cover;
}

.chesspieces2{
    background-image: url(Images/Capture.PNG);
    background-size: cover;
    background-repeat: none;

}
.extra2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.page5{
    padding: 150px 150px 10px;
    align-content: center;
    text-align: center;
}

.page5 h1{
    color: #FFDB5C;
}

.page5 h3{
    color:#FCF7F4;
    padding-top: 30px;
}

.extra{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.page2 h4{
    text-align: right;
    margin-top:5px;
    color: #902222;
}

.page2-content p{
    font-size: 20px;
}
a:hover{
    background-color:#FCF7F4;
    color:black;
}

@media only screen and (max-width: 768px) {
    *{
        margin:0;

    }
    .background-image img{
    
        height: auto;
        width: 100%;
        margin: 0;

    }
    .background-image img{
          margin: 0px 0px 0px 0px;

    }
    .about img{
        width: 585px;
        height: auto;
        margin-bottom: 100px;
    }

    .page2-content{
        font-size: 2px;
     
    }
    .page2-content p{
        font-size: 18px;
        width: 100%;
    }
   #calender {
       display: none;
   }
   .news{
    width: 100%;
    background-color: #902222;
    margin-top: -40px;
    padding-top: 10px;
    }
    .pattern img{
        width: 360px;
        object-fit: cover;
    }
    .feature{
        background-color: #902222;
        width: 100%;
        }
        .images img{
            border: 10px solid #902222;
            background-color: #FCF7F4;
            padding: 20px 20px 20px 20px;
            margin-top: -100px;
            margin-right: 20px;
}
.image1 h3, h5{
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
}
ul{
    list-style-type: none;
    width: 400px;
    top:15px;
    z-index: 1;
    margin-right: 14px;
    position:absolute;

}

li{
    width: 40px;
    border-radius: 5px;
    padding-top: 10px;
}

.about{
    background-color: #FCF7F4;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .page2 h4{
        text-align: center;
        color: #902222;
        margin-top: -100px;
        margin-bottom: 20px;

  }
  a{
    width: 100px;
}
.rectangle{
    width: 100%;
    background: #902222;
    margin-top: -50px;
    margin-left: -8px;
    opacity: .9;
    position: unset;
    
}
.chess{
    display:none;
}
.chesspieces{
    background-image: url(Images/chesspieces-mobile.png);
    background-size: cover;
    background-repeat: none;
    margin-bottom: 38px;
}
.chesspieces2{
        background-image: url(Images/chesspieces-mobile.png);
        background-size: cover;
        background-repeat: none;
    }
.page4 h1{
    margin-top: 30px;
}
.extra{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pattern img{
    width: 100%;
}
.images{
    flex-direction: column;
}.page5{
    padding: 20px 20px 10px;
    align-content: center;
    text-align: center;
}
.extra2{
    display:flex;
    flex-direction: column;
}
}